.current-weather-block {
  border: 1px solid lightgrey;
  border-radius: 10px;
  height: 300px;
  flex-grow: 2;
  margin: 30px;
  background-color: #ebecf0;
  opacity: 0.98;
  .current-weather-body {
    display: flex;
    flex-direction: column;
    height: auto;
    .icon {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .temperature,
    .description {
      font-size: 22pt;
      margin-bottom: 10px;
    }
  }
}
