.current-weather-block {
  font-family: -apple-system, BlinkMacSystemFont;
  color: white;
  position: absolute;
  right: 30px;
  top: 30px;
  .current-weather-body {
    display: flex;
    flex-direction: column;
    height: auto;
    .icon {
      margin-bottom: 5px;
    }
    .temperature,
    .description {
      font-size: 16pt;
      font-weight: bold;
    }
  }
}
