.today-training-block {
  font-family: -apple-system, BlinkMacSystemFont;
  color: white;
  position: absolute;
  left: 20px;
  top: 30px;
  .today-training-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .today-training-am,
    .today-training-pm {
      padding-left: 20px;
      padding-right: 20px;
    }
    .today-training-am {
      border-right: 1px solid lightgrey;
    }
    .icon {
      margin-bottom: 5px;
    }
    .exercise {
      font-size: 16pt;
      font-weight: bold;
    }
  }
}
