.todo-list-container {
  font-family: -apple-system, BlinkMacSystemFont;
  color: white;
  height: 300px;
  font-size: 20pt;
  .todo-list-header {
    font-size: 30pt;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .todo-list-body {
    .form-control:disabled {
      background-color: #fff;
    }
    .todo-input {
      width: 100%;
      outline: none;
      border: none;
      background: none;
      color: white;
    }
    .input-box {
      border-bottom: 1px solid white;
      margin-bottom: 30px;
    }
    .add-todo-button {
      float: right;
    }
    .task-list {
      cursor: pointer;
      display: flex;
      flex-direction: row;
    }
    .completed {
      text-decoration: line-through;
    }
    display: flex;
    flex-direction: column;
    height: auto;
    .icon {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .temperature,
    .description {
      font-size: 22pt;
      margin-bottom: 10px;
    }
  }
}
