.hamburger-menu-open,
.hamburger-menu-closed {
  border-right: 1px solid lightgray;
  height: 100%;
  width: 300px;
  background-color: #fff;
  z-index: 99;
}

.hamburger-menu-open {
  position: absolute;
  left: 0;
  top: 0;
  img {
    position: absolute;
    left: 15px;
    top: 10px;
    cursor: pointer;
  }
}

.hamburger-menu-closed {
  display: none;
}
