.header-bar-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  font-weight: bold;
  img {
    position: absolute;
    left: 15px;
    cursor: pointer;
  }
}
